
<div class="row">
    <div class="col-md-4"><h4>User Dashboard</h4></div>
    <div class="col-md-4 pull-right"> Welcome :   {{user.firstname}} </div>
</div><br><br>

{{# each orders}}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <span class="p-title">Purchased made on: {{ this.Date }}</span> </a>
                </h4>
            </div>

            <div id="collapse1" class="panel-collapse collapse">
            {{# each this.items}}
                <div class="panel-body">
                    <div class="col-md-10"> Item  : <span class="pull-right"> {{ this.item.title }}</span></div>
                    <div class="col-md-10"> Total quantity : <span class="badge pull-right"> {{ this.qty}} </span></div>
                    <div class="col-md-10"> Total price  : <span class="badge pull-right"> $ {{ this.price}} </span></div>
                    <div class="col-md-10"> Total amount paid  : <span class="badge pull-right"> $ {{this.item.totalPrice }} </span></div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
{{/each}}

